@import 'fonts.scss';

body {
  margin: 0;
  padding: 0
}

.main_content {
  padding-left:30px;
  padding-right:30px;
}

.flip-list-move {
  transition: transform 0.5s;
}

.no-move {
  transition: transform 0s;
}